<div class="page-header">
  <%= link_to new_place_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Place
  <% end %>
  <h1>Listing places</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Activity</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>State</th>
            <th>Geocoded name</th>
            <th>Description</th>
            <th>Directions</th>
            <th>Comments</th>
            <th>Picture</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @places) do |place| %>
            <td><%= place.name %></td>
            <td><%= place.activity %></td>
            <td><%= place.latitude %></td>
            <td><%= place.longitude %></td>
            <td><%= place.state %></td>
            <td><%= place.geocoded_name %></td>
            <td><%= place.description %></td>
            <td><%= place.directions %></td>
            <td><%= place.comments %></td>
            <td><%= place.picture %></td>
            <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
