<div class="page-header">
  <%= link_to places_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_place_path(@place), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show place</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @place.name %></dd>

  <dt>Activity:</dt>
  <dd><%= @place.activity %></dd>

  <dt>Latitude:</dt>
  <dd><%= @place.latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @place.longitude %></dd>

  <dt>State:</dt>
  <dd><%= @place.state %></dd>

  <dt>Geocoded name:</dt>
  <dd><%= @place.geocoded_name %></dd>

  <dt>Description:</dt>
  <dd><%= @place.description %></dd>

  <dt>Directions:</dt>
  <dd><%= @place.directions %></dd>

  <dt>Comments:</dt>
  <dd><%= @place.comments %></dd>

  <dt>Picture:</dt>
  <dd><%= @place.picture %></dd>

</dl>
